:root {
  --title-text-color: #212121;
  --main-text-color: #757575;
  --second-text-color: #ffffff;
  --accent-color: #2196f3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 0px 15px;
  margin: 0 auto;
  width: 100%;
  outline: 2px solid red;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .page-header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
  }
}

.page-header__logo--second-color {
  color: #000000;
}

.navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: block;
  }
}

.navigation__list {
  display: flex;
}

.page-header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__link {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.link--current {
  position: relative;
  color: var(--accent-color);
}

.link--current::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 4px;
  top: 44px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.navigation__list-item {
  margin-right: 50px;
}

.navigation__list-item:last-child {
  margin-right: 0;
}

.navigation__list-item:last-child:focus {
  color: var(--accent-color);
}

.contact__list {
  display: none;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .contact__list {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contact__list {
    display: flex;
  }
}

.contact__link {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  fill: var(--main-text-color);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover, .contact__link:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__item:not(:last-child) {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contact__icon {
  margin-right: 10px;
}

.mobile-menu__open-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .mobile-menu__open-button {
    display: none;
  }
}

.hero {
  margin: auto;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 118px 0;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/hero/hero.jpg);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/hero/hero2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/hero/hero-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/hero/hero-tablet2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/hero/hero-desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../images/hero/hero-desktop2x.jpg);
  }
}

.hero__tittle {
  display: block;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.hero__button {
  display: block;
  margin: 30px auto 0;
  padding: 10px 32px;
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: var(--second-text-color);
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
}

@media screen and (min-width: 768px) {
  .values__list {
    margin-top: -30px;
    margin-left: -30px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .values__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .values__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .values__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.values__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.values__item-tittle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.values__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.about__img {
  display: block;
}

.about__tittle {
  margin: 0 auto 50px;
}

.about__list {
  display: flex;
}

.about__list .about__item + .about__item {
  margin-left: 30px;
}

.about__thumb {
  position: relative;
}

.about__tittle-wrap {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.about__item-tittle {
  margin: 27px auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background: #f5f4fa;
}

.team__tittle {
  margin: 0 auto 30px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  border-bottom: 1px solid transparent;
  border-radius: 0 0 4px 4px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team__item-tittle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team__meta-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__item-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

.social-list__team-icon {
  fill: #afb1b8;
}

.social-list__link:hover .social-list__team-icon,
.social-list__link:focus .social-list__team-icon {
  fill: #ffffff;
}

.clients__tittle {
  margin: 0 auto 50px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  flex-basis: calc(100% / 2 - 30px);
  height: 92px;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.page-footer {
  padding: 60px 0;
  height: 252px;
  background-color: #2f303a;
}

.page-footer__logo {
  margin-bottom: 30px;
}

.page-footer__logo--second-color {
  color: var(--second-text-color);
}

.address {
  font-style: normal;
}

.address-social__wrap {
  display: flex;
  align-items: baseline;
}

.address__link {
  color: inherit;
}

.address__map {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.address__contact {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.social__wrap {
  margin-left: 70px;
  margin-right: 93px;
}

.social__tittle {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social__link--footer-bg-color {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__footer-icon {
  fill: #ffffff;
}

.newsletter__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.newsletter__wrap {
  display: flex;
}

.newsletter__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: var(--second-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
}

.newsletter__input:focus {
  border-color: var(--accent-color);
}

.newsletter__input:focus::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.newsletter__link {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  margin-left: 12px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87px;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  background: var(--accent-color);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}

.newsletter__link:hover, .newsletter__link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: var(--accent-color);
}

.newsletter__icon {
  fill: #ffffff;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(-0.5);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover .modal__close-icon, .modal__close-button:focus .modal__close-icon {
  fill: var(--accent-color);
}

.modal__tittle {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal__field-wrap {
  margin-bottom: 10px;
}

.modal__input {
  width: 100%;
  height: 40px;
  padding: 0 10px 0 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus {
  border-color: var(--accent-color);
}

.modal__input:focus + .modal__input-icon {
  fill: var(--accent-color);
}

.modal__input-wrap {
  position: relative;
}

.modal__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.modal__input-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__comments {
  height: 120px;
  width: 100%;
  margin-bottom: 10px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__comments:focus {
  border-color: var(--accent-color);
}

.modal__comments::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__checkbox-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__checkbox:focus + .modal__checkbox-text .modal__custom-checkbox {
  border-color: var(--accent-color);
}

.modal__custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.modal__custom-icon {
  fill: var(--second-text-color);
}

.modal__checkbox-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.modal__checkbox:checked + .modal__checkbox-text .modal__custom-checkbox {
  background-color: var(--accent-color);
  border: none;
}

.modal__policy-link {
  cursor: pointer;
  color: var(--accent-color);
}

.modal__submit-button {
  display: block;
  width: 200px;
  height: 50px;
  padding: 0 10px;
  margin: 30px auto 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  background: var(--accent-color);
  border-color: transparent;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__submit-button:hover, .modal__submit-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: -15px;
}

.filter .filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter .filter__item {
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
  }
}

.filter__position {
  margin-bottom: 40px;
}

.filter__button {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio__link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .portfolio__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .portfolio__thumb {
    flex-grow: 1;
  }
}

.portfolio__item img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.portfolio__overlay {
  position: absolute;
  padding: 63px 24px;
  width: 370px;
  height: 294px;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  opacity: 0;
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  transform: translateY(0);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__tittle {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.portfolio__meta {
  padding: 20px 24px;
  width: 100%;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.logo {
  display: block;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.tittle {
  display: block;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
  .tittle {
    font-size: 36px;
    line-height: 1.16;
  }
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu {
  display: none;
}
/*# sourceMappingURL=main.css.map */